body{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
div{
    display: block;
}
#nav_outside{
    width: 100%;
    height: 50px;
    background-color: orangered;
    font-size: 14px;
}
#nav_inner{
    width: 1200px;
    height: 100%;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
#nav_ul{
    width: 100%;
}
.top_nav_ul li{
    float: left;
    margin: 0 10px;
    line-height: 50px;
}
.top_nav_ul li a{
    color: white;
    padding: 0 10px;
    margin: 0 12px;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    -ms-transition: 0.6s;
    -moz-transition: 0.6s;
    cursor: pointer;
}
.top_nav_ul li a:hover{
    color: darkgray;
}
#logo{
    width: 200px;
    height:100%;
    margin-right: 20px;
    margin-top: 10px;
    box-sizing: border-box;
    line-height: 45px;
}