*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    border:none;
    outline: none;
    font-family:"微软雅黑";
    font-weight: 100;
}
/*去除input框内的默认清除按钮*/
input::-ms-clear {
    display: none;
}
input:valid + .clear {
    display: inline;
}
img{
    outline: none;
    border: none;
}
body{
    width: 100%;
    min-width: 1200px;
    font-family:"微软雅黑";
}
/*公共头部样式*/
.theme-inner li{
    padding-left: 80px;
    margin-bottom: 15px;
}
.theme-inner li strong{
    float: left;
    margin-left: -80px;
    width: 80px;
    text-align: right;
    line-height: 32px;
}
.user_input{
    border: solid 1px #d2d2d2;
    border-radius: 2px;
    padding: 4px 6px;
    height: 21px;
    line-height: 21px;
    width: 180px;
}
.top_nav{
    width: 100%;
    height: 50px;
    background: #ff4500;
    min-width: 1200px;
    font-size: 14px;
}
.top_nav_inner{
    width: 1200px;
    height: 100%;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
/*导航部分*/
.top_nav_ul{
    width: 100%;
    overflow: hidden;
}
.top_nav_ul li{
    float: left;
    line-height: 50px;
    margin: 0 10px;
}
.top_nav_ul li a{
    color: #fff;
    padding: 0 10px;
    margin: 0 12px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    cursor: pointer;
}
.top_nav_ul .top_logo{
    width: 70px;
    height: 100%;
    margin-right: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    line-height: 45px;
}
.top_nav_ul .top_logo img{
    width: 25px;
    height: 25px;
}
.top_nav_ul li a:hover{
    color: #747474;
}
.top_nav_ul .top_search,
.top_nav_ul .top_list,
.top_nav_ul .close{
    height: 50px;
}
.top_nav_ul .top_search .top_search_a,
.top_nav_ul .top_list a{
    width: 18px;
    height: 18px;
    margin: 16px 30px 0 30px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    background: url("../Image/other_img/search.png") no-repeat;
}
.top_nav_ul .top_search .top_search_a:hover{
    background: url("../Image/other_img/search1.png") no-repeat;
}
.top_nav_ul .top_list a{
    background: url("../Image/other_img/list.svg") no-repeat;
}
.top_nav_ul .top_list a:hover{
    background: url("../Image/other_img/list1.svg") no-repeat;
}
/*搜索框*/
.search_main{
    position: absolute;
    left: 15%;
    top:0;
    width:50%;
    height: 100%;
    background:#ff4500;
    display: none;
}
.search_main .search_btn,
.search_main .close_btn_search{
    width: 50px;
    height: 50px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    background: url("../Image/other_img/search.png") no-repeat center center;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
}
.search_main .search_btn:hover{
    background: url("../Image/other_img/search1.png") no-repeat center center;
}
.search_main input.search_text{
    height: 100%;
    width:90%;
    background: #ff4500;
    color: #fff;
}
.search_main .close_btn_search{
    background: url("../Image/other_img/close.png") no-repeat center;
    position: absolute;
    top: 0;
    right: -198px;
}
.search_main .close_btn_search:hover{
    background:url("../Image/other_img/close1.png") no-repeat center;
}
.search_main .inner_input{
    display: none;
    position: absolute;
    top: 15px;
    right: 0px;
    color: white;
    cursor: pointer;
}
/*会员登录*/
.member{
    display: none;
    width: 200px;
    height: 130px;
    background: url("../Image/other_img/huiyuan.png") no-repeat;
    background-size:100% 100%;
    position: absolute;
    right: 342px;
    top: 50px;
    z-index: 1000;
}
.member p{
    width: 84%;
    margin: 10px 8%;
    line-height: 40px;
    border-bottom: 1px solid #b3b3b3;
    color: #7d7c81;
    text-align: center;
    font-size: 18px;
}
.member ul{
    width: 84%;
    margin: 0 8%;
}
.member ul li{
    line-height: 25px;
    font-size: 12px;
}
.member ul li img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.member ul li a{
    color: #460085;
}
.member ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
/*弹出登录框部分*/

/*弹出框*/
.theme-popover{
    z-index: 9999;
    position:fixed;
    top: 50%;
    left:50%;
    width:660px;
    height: 360px;
    margin: -180px 0 0 -330px;
    border-radius: 5px;
    border:solid 2px #666;
    background-color: #fff;
    display: none;
    box-shadow: 0px 0px 10px #666;
}
/*弹出框标题*/
.theme-poptit{
    border-bottom: 1px solid #ddd;
    padding:12px;
    position:relative;
    font-size: 12px;
}
/*弹出框标题关闭按钮*/
.theme-poptit .close_pop{
    float:right;
    color:#999;
    padding:5px;
    margin:-2px -5px -5px;
    font: bold 18px/18px simsun;
    text-shadow:0px 1px 0px #ddd;
    cursor: pointer;
}
/*遮罩层*/
.theme-popover-mask{
    z-index: 9998;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: #000;
    opacity: 0.4;
    display: none;
}
.theme-popbod{
    padding: 80px 60px 40px;
}
.theme_signin{
    margin: -50px -20px -50px 90px;
    text-align: left;
    font-size: 14px;
}
.btn_login{
    height: 29px;
    font-weight: bold;
    padding: 0 12px;
    border: 1px solid #ddd;
    border-radius: 2px;
    border-color: #3079ED;
    color: #f3f7fc;
    background-color: #4D90FE;
}
.btn_login:hover{
    border-color: #2F5BB7;
    color: #f3f7fc;
    background-color: #3079ED;
}