*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
input{
    border: 0;
    outline: 0;
    font-family: 微软雅黑;
    font-weight: 100;
}
img{
    outline: none;
    border: none;
}
body{
    width: 100%;
    min-width: 1200px;
    font-family: 微软雅黑;
}
/*公共头部样式*/
.top_nav{
    width: 100%;
    height: 50px;
    background: #ff4500;
    min-width: 1200px;
    font-size: 14px;
}
.top_nav_inner{
    width: 1200px;
    height: 100%;
    padding: 0 50px;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
/*导航部分*/
.top_nav_ul{
    width: 100%;
    overflow: hidden;
}
.top_nav_ul li{
    float: left;
    line-height: 50px;
    margin: 0 10px;
}
.top_nav_ul li a{
    color: #fff;
    padding: 0 10px;
    margin: 0 12px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    cursor: pointer;
}
.top_nav_ul .top_logo{
    width: 65px;
    height: 100%;
    margin-right: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    line-height: 45px;
}
.top_nav_ul .top_logo img{
    width: 25px;
    height: 25px;
}
.top_nav_ul li a:hover{
    color: #747474;
}
.top_nav_ul .top_search a,
.top_nav_ul .top_list a{
    width: 18px;
    height: 18px;
    margin: 16px 30px 0 30px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    background: url(../Image/other/search.png) no-repeat;
}
.top_nav_ul .top_search a:hover{
    background: url(../Image/other/search1.png) no-repeat;
}
.top_nav_ul .top_list a{
    background: url(../Image/other/list.png) no-repeat;
}
.top_nav_ul .top_list a:hover{
    background: url(../Image/other/list1.png) no-repeat;
}
/*搜索框*/
.search_main{
    position: absolute;
    left: 15%;
    top:0;
    width:50%;
    height: 100%;
    background:#ff4500;
    display: none;
}