#register_content{
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}
.register_left{
    position: relative;
    width: 720px;
    overflow: hidden;
}
.pass_general_error_content{
    color: orangered;
    display: block;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
}
#hidden_fields{
    display: none;
}
.form_item_user_name{
    position: relative;
    clear: both;
    margin-bottom: 20px;
    zoom: 1;
}
.form_user_name_label{
    display: block;
    float: left;
    height: 42px;
    width: 65px;
    margin-right: 10px;
    line-height: 42px;
    font-size: 14px;
    color: #666;
    font-weight: 700;
    text-align: right;
}
.form_user_name_input{
    display: block;
    position: relative;
    float: left;
    height: 16px;
    width: 328px;
    padding: 11px 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    font-size: 14px;
    color: #666;
    transition: .3s;
}
.form_user_name_clear_btn_span{
    display: none;
    position: absolute;
    width: 16px;
    height: 16px;
    background:url("../Image/other_img/reg_icons.png") -32px -24px no-repeat;
    top: 12px;
    left: 398px;
    cursor:pointer;
}
.form_user_name_normal_notice_span{
    display:none;
    float: left;
    position: relative;
    width: 250px;
    top: 12px;
    color: #7d7c81;
    height: 16px;
    line-height: 14px;
    padding-left: 20px;
    font-size: 12px;
}
.form_user_name_error_notice_span{
    display:none;
    float: left;
    position: relative;
    width: 250px;
    top: 12px;
    color: #fc4343;
    height: 16px;
    line-height: 14px;
    padding-left: 20px;
    font-size: 12px;
    background: url("../Image/icon/err_small.png") 0 0 no-repeat;
}
.form_user_name_repeat_notice_span{
    display:none;
    float: left;
    position: relative;
    width: 250px;
    top: 12px;
    color: #fc4343;
    height: 16px;
    line-height: 14px;
    padding-left: 20px;
    font-size: 12px;
    background: url("../Image/icon/err_small.png") 0 0 no-repeat;
}
.form_user_name_success_notice_span{
    display: none;
    float: left;
    position:relative;
    width:250px;
    top:12px;
    color:#fc4343;
    height:16px;
    line-height:14px;
    padding-left:20px;
    font-size:12px;
    background:url("../Image/icon/reg_icons.png") -80px 0 no-repeat;
}